<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.org.sucu.tatupload"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="uk.org.sucu.tatupload.TatUploadApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uk.org.sucu.tatupload.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="uk.org.sucu.tatupload.message.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="uk.org.sucu.tatupload.activity.SmsReviewActivity"
            android:label="@string/title_activity_sms_review"
            android:parentActivityName="uk.org.sucu.tatupload.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.sucu.tatupload.MainActivity" />
        </activity>
        <activity
            android:name="uk.org.sucu.tatupload.activity.SetupActivity"
            android:label="@string/title_activity_setup" >
        </activity>
        <activity
            android:name="uk.org.sucu.tatupload.activity.ParameterViewActivity"
            android:label="@string/title_activity_parameter_view"
            android:parentActivityName="uk.org.sucu.tatupload.activity.OptionActivity" >
        </activity>
        <activity
            android:name="uk.org.sucu.tatupload.activity.OptionActivity"
            android:label="@string/settings"
            android:parentActivityName="uk.org.sucu.tatupload.activity.MainActivity" >
        </activity>
        <activity
            android:name="uk.org.sucu.tatupload.activity.TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>
