<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.org.sucu.tatupload2"
    android:versionCode="20"
    android:versionName="2.0.1"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name="uk.org.sucu.tatupload2.TatUploadApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_label"
        android:theme="@style/AppTheme" >
        <activity
            android:name="uk.org.sucu.tatupload2.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter android:label="@string/app_label">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="uk.org.sucu.tatupload2.message.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="uk.org.sucu.tatupload2.activity.SmsReviewActivity"
            android:label="@string/title_activity_sms_review"
            android:parentActivityName="uk.org.sucu.tatupload2.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.sucu.tatupload2.activity.MainActivity" />
        </activity>
        <activity
            android:name="uk.org.sucu.tatupload2.activity.ParameterViewActivity"
            android:label="@string/invalid_heading"
            android:parentActivityName="uk.org.sucu.tatupload2.activity.OptionActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.sucu.tatupload2.activity.OptionActivity" />
        </activity>
        <activity
            android:name="uk.org.sucu.tatupload2.activity.OptionActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:theme="@style/PreferenceScreen"
            android:parentActivityName="uk.org.sucu.tatupload2.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.org.sucu.tatupload2.activity.MainActivity" />
        </activity>
        <activity
            android:name="uk.org.sucu.tatupload2.activity.TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>
